.section-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 0 32px 0;
  gap: 12px;
}

.section-title {
  margin: 0;
  font-size: 2rem;
  color: var(--dark-color);
}

.section-subtitle {
  margin: 0;
  max-width: 600px;
  font-size: 1.1rem;
}
