:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #213547;
  background-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  display: block !important;
}

html,
body {
  background: #f5f7fb !important;
}
